---
layout: default
tab: Downloads
---
<h3><a id="current" class="anchor" href="#current" aria-hidden="true"><span class="octicon octicon-link"></span></a>Latest official version (3.0)</h3>
{% include download-latest.html %}
<h3><a id="previous" class="anchor" href="#previous" aria-hidden="true"><span class="octicon octicon-link"></span></a>Previous Versions</h3>
<p>Previous versions of the client (2.2 and previous) are available <a href="https://sourceforge.net/projects/ezquake/files/stable/">here</a>.</p>
<h3><a id="dev" class="anchor" href="#current" aria-hidden="true"><span class="octicon octicon-link"></span></a>Development versions</h3>
Development versions are built from the current sourcecode, but should still be stable.
<div class="dl-table cols3">
    <div class="dl-row header">
        <span>Operating System</span>
        <span>Version/Date</span>
        <span>Link</span>
    </div>
    <div class="dl-row">
        <span>Windows</span>
        <span>{% include build_latest_windows.html %}</span>
        <span><a href="media/latest/windows.zip"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download</a></span>
    </div>
    <div class="dl-row">
        <span>Linux (64-bit)</span>
        <span>{% include build_latest_linux.html %}</span>
        <span><a href="media/latest/linux.tar.gz"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download</a></span>
    </div>
    <div class="dl-row">
        <span>Mac OSX</span>
        <span>{% include build_latest_osx.html %}</span>
        <span><a href="media/latest/osx.zip"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download</a></span>
    </div>
</div>
<h3><a id="nightly" class="anchor" href="#nightly" aria-hidden="true"><span class="octicon octicon-link"></span></a>Nightly builds</h3>
<p>A history of nightly builds for Windows is available <a href="http://uttergrottan.localghost.net/ezquake/dev/nightlybuilds/win32">here</a>.</p>
<h3><a id="game-media" class="anchor" href="#game-media" aria-hidden="true"><span class="octicon octicon-link"></span></a>Game Media</h3>
<p>To install new map textures, models etc, visit <a href="http://gfx.quakeworld.nu/">gfx.quakeworld.nu</a>

