<div class="dl-table cols5">
    <div class="dl-row header">
        <span>Operating System</span>
        <span>Version</span>
        <span>Type</span>
        <span>Date</span>
        <span>Link</span>
    </div>
    <div class="dl-row">
        <span>Windows</span>
        <span>3.0</span>
        <span>Upgrade</span>
        <span>1st June 2016</span>
        <span>(coming soon)</span>
    </div>
    <div class="dl-row">
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>Full</span>
        <span>1st June 2016</span>
        <span>(coming soon)</span>
    </div>
    <div class="dl-row">
        <span>Linux (64-bit)</span>
        <span>3.0</span>
        <span>Upgrade</span>
        <span>1st June 2016</span>
        <span>(coming soon)</span>
    </div>
    <div class="dl-row">
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>Full</span>
        <span>1st June 2016</span>
        <span>(coming soon)</span>
    </div>
    <div class="dl-row">
        <span>Linux (32-bit)</span>
        <span>3.0</span>
        <span>Upgrade</span>
        <span>1st June 2016</span>
        <span>(coming soon)</span>
    </div>
    <div class="dl-row">
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>Full</span>
        <span>1st June 2016</span>
        <span>(coming soon)</span>
    </div>
    <div class="dl-row">
        <span>Mac OSX</span>
        <span>3.0</span>
        <span>Upgrade</span>
        <span>1st June 2016</span>
        <span>(coming soon)</span>
    </div>
    <div class="dl-row">
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>Full</span>
        <span>1st June 2016</span>
        <span>(coming soon)</span>
    </div>
</div>
