<div class="dl-table">
    <div class="dl-row header">
        <span>Operating System</span>
        <span>Version</span>
        <span>Type</span>
        <span>Date</span>
        <span>Link</span>
    </div>
    <div class="dl-row">
        <span>Windows</span>
        <span>3.0</span>
        <span>Upgrade</span>
        <span>1st June 2016</span>
        <span><a href="media/ezquake-windows-3.0-upgrade.zip"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download</a></span>
    </div>
    <div class="dl-row">
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>Full</span>
        <span>1st June 2016</span>
        <span><a href="media/ezquake-windows-3.0-full.zip"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download</a></span>
    </div>
    <div class="dl-row">
        <span>Linux (64-bit)</span>
        <span>3.0</span>
        <span>Upgrade</span>
        <span>1st June 2016</span>
        <span><a href="media/ezquake-linux64-3.0-upgrade.tar.gz"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download</a></span>
    </div>
    <div class="dl-row">
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>Full</span>
        <span>1st June 2016</span>
        <span><a href="media/ezquake-linux64-3.0-full.tar.gz"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download</a></span>
    </div>
    <div class="dl-row">
        <span>Linux (32-bit)</span>
        <span>3.0</span>
        <span>Upgrade</span>
        <span>1st June 2016</span>
        <span><a href="media/ezquake-linux32-3.0-upgrade.tar.gz"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download</a></span>
    </div>
    <div class="dl-row">
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>Full</span>
        <span>1st June 2016</span>
        <span><a href="media/ezquake-linux32-3.0-full.tar.gz"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download</a></span>
    </div>
    <div class="dl-row">
        <span>Mac OSX</span>
        <span>3.0</span>
        <span>Upgrade</span>
        <span>1st June 2016</span>
        <span><a href="media/ezquake-osx-3.0-upgrade.tar.gz"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download</a></span>
    </div>
    <div class="dl-row">
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>Full</span>
        <span>1st June 2016</span>
        <span><a href="media/ezquake-osx-3.0-full.tar.gz"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download</a></span>
    </div>
</div>
